*, *:before, *:after{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
}

.interface__initial{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 48px;
}

.interface__stats{
    display: none;
    font-size: 45px;
}

.interface__stats__item{
    display: flex;
    align-items: center;
}

.interface__stats__item img{
    margin: 0 10px ;
}

.interface__controls{
    display: none;
}

.interface__controls button{
    margin: 10px;
    padding: 5px;
    font-size: 24px;

}

.interface__input{
    font-size: 26px;
    width: 140px;
}

.interface__button{
    font-size: 26px;
    padding: 10px;
    border: 2px solid #000;
    cursor: pointer;
}

.interface__button:active{
    border: 2px solid #0000ff;
}

.interface__initial__title{
    margin-right: 8px;
}

.garden{
    display: none;
    height: 635px;
    width: 1920px;
    position: relative;
    background: url(assets/bckg.jpg) repeat-x bottom;
}

.garden .tree{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 200px;
    background: url(assets/tree.png) no-repeat;
    background-size: contain;
}

.garden .apple{
    top: 0px;
    left: 0px;    
    position: absolute;
    width: 21px;
    height: 21px;
    background: url(assets//apple--tiny.png) no-repeat center;
}